div(align="center")	
	font(size="4", class="font")	Bienvendio 
	font(size="3", class="font_w") #{sesion.user}
.user_menu_contenedor(align="center")	
	.datos
		a(href="#datos/#{sesion.id}")
			table(cellspacing="15")
				tr
					td
						img(src="images/datos.png")
					td(valign="middle")	
						font(size="3") Mis Datos
	.contratos
		a(href="#/contratos?id")
			table(cellspacing="15")
				tr
					td
						img(src="images/contratos.png")
					td(valign="middle")	
						font(size="3") Contratos
	.cobros
		a(href="#/cobros?id")
			table(cellspacing="15")
				tr
					td
						img(src="images/cobros.png")
					td(valign="middle")	
						font(size="3") Cobros
	.support
		a(href="#/support?id")
			table(cellspacing="15")
				tr
					td
						img(src="images/support.png")
					td(valign="middle")	
						font(size="3") Soporte