doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/body.css')
		//link(rel='stylesheet', href='/stylesheets/impress.css')	
		if !sesion
			link(rel='stylesheet', href='/stylesheets/login_reg.css')	
			link(rel='stylesheet', href='/stylesheets/tipTip.css')	
		else
			link(rel='stylesheet', href='/stylesheets/user_3DImg.css')	
			link(rel='stylesheet', href='/stylesheets/custom_file_input.css')	
		title= 'spantons'
	body
		#windowDiv
			#logo
			if !sesion
				include index/tabs
				include index/registrar
				include index/login
			else
				include user/tab
				include user/index_user
			#workspace
				include index/destacado
				block content
		#impress
			include index/impress
		script(src="javascripts/jquery-1.7.2.min.js", type="text/javascript")
		script(src="javascripts/routie.min.js", type="text/javascript")
		script(src="javascripts/impress.js", type="text/javascript")
		script(src="javascripts/jquery.corner.js", type="text/javascript")
		script(src="javascripts/jquery.form.js", type="text/javascript")
		script(src="javascripts/jquery-ui-1.9.0.custom.min.js", type="text/javascript")
		script(src="javascripts/lanzadorJS.js", type="text/javascript")
		script
			fTest('javascripts/resize_destacado','js')
		if !sesion
			script
				fTest('javascripts/routingUnLogin','js')
		else
			script
				fTest('javascripts/user_panel','js')
				fTest('javascripts/user_update_datos','js')
				fTest('javascripts/jquery.tmpl.min','js')	
				fTest('javascripts/picture','js')	
			script(src="javascripts/jQuery.fileinput.js", type="text/javascript")		
		script	impress().init()