doctype 5
html
	head
		script(src="javascripts/head.min.js", type="text/javascript")	
		script	head.js("stylesheets/body.css")
		if !sesion
			script	head.js("stylesheets/login_reg.css","stylesheets/tipTip.css")
		else
			script	head.js("stylesheets/user_3DImg.css","stylesheets/custom_file_input.css")
		title= 'spantons'
	body
		#bowlG
			#bowl_ringG
				.ball_holderG
					.ballG
		#windowDiv
			#logo
			if !sesion
				.product_unlogin(class="corner_left_top")
					.big_container
				include index/tabs
				include index/registrar
				include index/login
			else
				include user/tab
				include user/index_user
			#workspace
				include index/destacado
				block content
		#impress
			include index/impress
		script(src="javascripts/jquery-1.7.2.min.js", type="text/javascript")	
		script(src="javascripts/impress.js", type="text/javascript")
		script	head.js("javascripts/routie.min.js","javascripts/jquery.corner.js","javascripts/jquery-ui-1.9.0.custom.min.js","javascripts/jquery.form.js","javascripts/cryptico/sha512.js","javascripts/jquery.tipTip.minified.js","javascripts/validadores.js","javascripts/resize_destacado.js")
		if !sesion
			script	head.js("javascripts/routingUnLogin.js","javascripts/login.js","javascripts/registrar.js")
		else
			script	head.js("javascripts/user_panel.js","javascripts/user_update_datos.js","javascripts/picture.js")	
			script(src="javascripts/jQuery.fileinput.js", type="text/javascript")	
			if sesion.tipo == 'a'
				script	head.js("javascripts/user_admin.js")
		script	impress().init()