doctype 5
html
	head
		link(rel='stylesheet', href='/stylesheets/body.css')
		//link(rel='stylesheet', href='/stylesheets/impress.css')
		//link(rel='stylesheet', href='/stylesheets/drag_drop.css')
		link(rel='stylesheet', href='/stylesheets/custom_file_input.css')
		if !sesion
			link(rel='stylesheet', href='/stylesheets/login_reg.css')	
			link(rel='stylesheet', href='/stylesheets/tipTip.css')	
		else
			link(rel='stylesheet', href='/stylesheets/user_panel.css')	
			link(rel='stylesheet', href='/stylesheets/efec3D_Images.css')	
		title= 'spantons'
	body
		#windowDiv
			#logo
			if !sesion
				include index/tabs
				include index/registrar
				include index/login
			else
				include user/tab
				include user/index_user
			#workspace
				include index/destacado
				block content
		#impress
			//include index/impress
		script(src="javascripts/jquery-1.7.2.min.js", type="text/javascript")
		script(src="javascripts/impress.js", type="text/javascript")
		script(src="javascripts/lanzadorJS.js", type="text/javascript")
		script
			fTest('javascripts/routie.min','js')
			fTest('javascripts/resizeDivTriger','js')
			fTest('javascripts/destacado','js')
			fTest('javascripts/jquery.corner','js')
			fTest('javascripts/jquery.form','js')
			fTest('javascripts/jQuery.fileinput','js')
			//fTest('javascripts/jquery-ui-1.9.0.custom.min','js')
			//fTest('javascripts/shopping_dragdrop','js')
		if !sesion
			script
				fTest('javascripts/routingUnLogin','js')
		else
			script
				fTest('javascripts/user_panel','js')
				fTest('javascripts/user_update_datos','js')
				fTest('javascripts/jquery.tmpl.min','js')	
				fTest('javascripts/picture','js')	
		//script	impress().init()