#destacado
	#destacado_menu
		.destacado_menu
			a(id="start",href="#overview",style="color: #000000")	INICIO
			#start_menu.destacado_menu_interno
		.destacado_menu
			a(id="women",href="#/women")	MUJER
			#women_menu.destacado_menu_interno
				<br />
				a(href="#women_blusas", id="women_blusas", style="color: #000000")	Blusas	<br />
				a(href="#women_camisas", id="women_camisas", style="color: #000000;")	Camisas, Franelas	<br />
				a(href="#women_pantalones", id="women_pantalones", style="color: #000000;")	Pantalones	<br />
				a(href="#women_jeans", id="women_jeans", style="color: #000000;")	Jeans	
		.destacado_menu
			a(id="men", href="#/men")	HOMBRE
			#men_menu.destacado_menu_interno
		.destacado_menu
			a(id="children", href="#/children")	NIÑOS
			#children_menu.destacado_menu_interno