#login_tap.tabs
	#login_tap_abrir
		a(id="login_tap_link", href="#login")	Ingresar
	#login_cerrar_contenedor
		a(id="login_cerrar_link", class="cerrar_tap_font", href="#")	cerrar X
#registrar_tap.tabs
	#registrar_tap_abrir
		a(id="registrar_tap_link", href="#registrar")	Regístrate
	#registrar_cerrar_contenedor
		a(id="registrar_cerrar_link", class="cerrar_tap_font", href="#")	cerrar X	