body { 
	 background: rgb(215, 215, 215);
	 background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));background:     -ms-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));  }
#logo {
	position:relative;	left:13px;
	text-shadow:0px 1px 0px rgba(255,255,255,0.7);
	font-size:15px;	font-family:"Lobster", cursive;
	color:#ffffff;	}
a {pointer-events: auto;
	 color: inherit;
   font-family: monospace;
   text-decoration: none;
   text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
   border-radius: 0.2em;
   -webkit-transition: 0.5s;-moz-transition:    0.5s;-ms-transition:     0.5s;-o-transition:      0.5s;transition:         0.5s;	}
a:hover, a:focus { color: #000000; background: rgba(255,255,255,1); text-shadow: -1px -1px 2px rgba(100,100,100,0.5) }
input[type="text"], input[type="submit"]{	pointer-events: auto	}
img{ border-style: none }
li { list-style: none }
#windowDiv{	margin:0 auto 0 auto	}
#workspace{	position:relative;	top:11px	}
.contenido{
	top:30px;
	position:relative;
	background-image: url(../images/bg_ropa.jpg);
	overflow:hidden;
	float:left;	}
.contenido table{	text-align: center	}
.font_w{
	color: rgba(255,255,255,0.91);
	font-weight:100;
	font-family: monospace;
	text-shadow:11px 19px 54px rgba(101,101,101,0.2);	}
.font{
	color: #000000;
	text-shadow:0px 1px 0px rgba(101,101,101,0.6);
	font-family: monospace;
	font-weight: bold;	}
.font_error{
	color: #000000;
  text-shadow:0px 1px 0px rgba(101,101,101,0.6);
	font-family: monospace;
	background: rgba(255,255,255,1);
	font-weight: bold;
	text-align: center;	}
/*------DESTACADO-------------------------*/
#destacado{
	position:fixed;
	width:172px;
	top: 50px;
	float:left;
	margin-right:2px;
	margin-left:30px;
	z-index: 3;	}
#destacado_menu{	background-color: rgba(0,0,0,0.5)	}	#destacado a{	color: rgba(255,255,255,0.91)	}
.destacado_menu{	padding-top: 17px;	padding-bottom: 17px; padding-left: 14px}
.destacado_menu_interno{padding-left: 10px}
#women_menu, #men_menu, #children_menu{	display: none	}
/*--TABS---------------------*/
.tabs{
	position:absolute;top:16px;height:24px;width:100px;
	z-index: 3;
	padding-top: 7px;
	text-align: center;
	font-size: 15px;
	color: #ffffff;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */	}
#login_tap{ right:140px }
#registrar_tap{ right:40px }
/*--Container REG & LOGIN & USER ACTIONS---------------------*/
.user_container {
	position:absolute;top:50px;right:0px;
	background-image:url(../images/bg_texture_login.jpg);
	box-shadow: inset 0 0 490px black;
	display:none;	z-index: 100	}
.login_contenedor_loader{ display:none	}
/*---BOTON---------------------------*/
.button_wrapper {	width: 100%;	float: left	}
.button, .button_underneath {	font-weight: bold;	font-family: "Lobster", cursive;	font-size: 15px;	}
.button {
  background: black;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #484545), color-stop(100%, #2c2c2b));background-image: -webkit-linear-gradient(top center, #484545, #2c2c2b);background-image: -moz-linear-gradient(top center, #484545, #2c2c2b);background-image: -o-linear-gradient(top center, #484545, #2c2c2b);background-image: -ms-linear-gradient(top center, #484545, #2c2c2b);background-image: linear-gradient(top center, #484545, #2c2c2b);-moz-border-radius: 4px 4px 6px 6px;-webkit-border-radius: 4px 4px 6px 6px;-o-border-radius: 4px 4px 6px 6px;-ms-border-radius: 4px 4px 6px 6px;-khtml-border-radius: 4px 4px 6px 6px;
  border-radius: 4px 4px 6px 6px;
  border: 1px solid #282727;
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);-o-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);box-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  border-bottom: 1px solid #383837;
  display: block;
  text-align: center;
  width: 142px;
  padding: 10px 20px 15px;
  color: white;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.55);
  position: absolute;
  top: -2px;
  left: 0px;
  z-index: 2;	}
.button:hover { cursor: pointer	}
.button:active {	top: 0px	}
.button.blue {background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0192f7), color-stop(100%, #0165ab));background-image: -webkit-linear-gradient(top center, #0192f7, #0165ab);background-image: -moz-linear-gradient(top center, #0192f7, #0165ab);background-image: -o-linear-gradient(top center, #0192f7, #0165ab);background-image: -ms-linear-gradient(top center, #0192f7, #0165ab);background-image: linear-gradient(top center, #0192f7, #0165ab);border: 1px solid #015691;	}
.button.orange {background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7af01), color-stop(100%, #ab7901));background-image: -webkit-linear-gradient(top center, #f7af01, #ab7901);background-image: -moz-linear-gradient(top center, #f7af01, #ab7901);background-image: -o-linear-gradient(top center, #f7af01, #ab7901);background-image: -ms-linear-gradient(top center, #f7af01, #ab7901);background-image: linear-gradient(top center, #f7af01, #ab7901);border: 1px solid #916701;	}
.button.grey {background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #d9d9d9));background-image: -webkit-linear-gradient(top center, #ffffff, #d9d9d9);background-image: -moz-linear-gradient(top center, #ffffff, #d9d9d9);background-image: -o-linear-gradient(top center, #ffffff, #d9d9d9);background-image: -ms-linear-gradient(top center, #ffffff, #d9d9d9);background-image: linear-gradient(top center, #ffffff, #d9d9d9);border: 1px solid #cccccc;color: #000000;text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.9);	}
.button_underneath {
  background: #282727;
  border-radius: 5px;
  position: relative;
  width: 102px;
  height: 24px;
  padding: 10px 20px 20px;
  z-index: 1;
  display: block;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.75);	}
  .button_underneath_2 { padding-top: 10; width: 120px }
.button_underneath.blue {	background: #015691 }.button_underneath.orange {	background: #916701	}.button_underneath.grey {	background: #bfbfbf	}
/*-----CAMPOS-----------------*/
.campos{
	height:33px;width:210px;
	background-color:#ffffff;
	color: #bbbbbb;
	font-size: 14px;
	padding-left:4px;
	border-style:groove;
	border-width:1px;
	outline:none;
	font-family: monospace;	}
.campos2{
	height:20px;
	width:205px;
	background-color:#ffffff;
	color: #000000;
	font-size: 12px;
	padding-left:4px;
	border-style:groove;
	border-width:1px;
	outline:none;
	font-family: monospace;	}
.campos_border{	border-left-color:#000000;	border-right-color:#000000;	pointer-events: auto	}
/*-IMPRESS--------------------*/
.step {position: relative;margin: 20px auto;-webkit-box-sizing: border-box;-moz-box-sizing:    border-box;-ms-box-sizing:     border-box;-o-box-sizing:      border-box;box-sizing:         border-box;font-family: 'PT Serif', georgia, serif;font-size: 48px;line-height: 1.5;}
.impress-enabled .step {margin: 0;-webkit-transition: opacity 1s;-moz-transition:    opacity 1s;-ms-transition:     opacity 1s;-o-transition:      opacity 1s;transition:         opacity 1s;}
.impress-enabled .step.active { opacity: 1 }
.slide {display: block;width: 900px;height: 700px;padding: 40px 60px;
  background-color: white;border: 1px solid rgba(0, 0, 0, .3);border-radius: 10px;box-shadow: 0 2px 6px rgba(0, 0, 0, .1);
  color: rgb(102, 102, 102);text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
  font-family: 'Open Sans', Arial, sans-serif;font-size: 30px;line-height: 36px;letter-spacing: -1px;}
.slide q {display: block;font-size: 50px;line-height: 72px;margin-top: 100px;}
.slide q strong {white-space: nowrap;}