#user_picture_img{ 
	pointer-events: auto;
	position: relative; width: 200px; height: 200px;top:20px;
	margin-left:auto;margin-right:auto;}
#user_picture_img_tmp{
	position: relative; width:200px;left:25px;top:20px;height:200px;
	overflow: hidden;	
	display: none;}
#user_panel_contenido{position: absolute;margin-left: auto;margin-right: auto;left:0;right:0;top: 235px}
#logout{position: absolute;bottom: 6px;right: 3px}
#user_panel_picture_atras{position:absolute;bottom:8px;right:6px;display:none;}
#user_panel_foto_contenido{display:none;position:absolute;top:30px;left:300px}
#user_panel_foto_titulo{font-size:40px}
#id_social_network{
	position: relative;width:170px;top: 2px;height:40px;
	font-size: 14px;font-family:monospace;color:#000000;
	background-color:#666666;
	padding-left:10px;border-width:0px;
	outline:none;overflow:hidden;}
.user_picture_info_crop{position: absolute;left:30px;top:275px;display:none;}
#user_picture_save{position:absolute;right:0px;top:15px;border-left: 2px solid #000000;padding:15px;display:none}
#user_picture_error_upload{
	position:absolute;
	right:0px;
	top:300px;
	display:none;}
.botonera{position: absolute;left:35px;top:270px;}
.big_contenido{top:20px;left:0px;right:0px; margin:auto;position:absolute;padding-left:240px}
.border_corner_input_top{-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-topright: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.border_corner_input_bottom{-webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;-moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;}
.border_corner_text{-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.productos_individual{with:100px;background-color:rgba(101,101,101,0.5);color:#ffffff;padding:0px 6px 0px 6px;float:left;margin:4px;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.productos_individual:hover, .productos_individual:focus { color: #000000; background: rgba(255,255,255,1); text-shadow: -1px -1px 2px rgba(100,100,100,0.5) }

#datos_pass_size{width: 250px}
#shopping_menu, #user_panel_show_before_picture, #user_panel_foto_after_upload, #user_picture_info_crop_error, #user_panel_foto_error_vacio, #user_panel_foto_error_bad, #user_panel_foto_opciones_upload, #user_panel_foto_error_formato, #user_panel_foto_error_tamano, #user_panel_foto_error, #id_social_network_form, #user_panel_tap_titulo, #datos, #user_picture_info_crop_info, #registrar_error, #datos_pass, #new_pass_temp, #repeat_new_pass_temp, #old_pass_temp, .error_clave, .error_clave_faltan, .error_clave_coinciden, .error_clave_error, .error_clave_incorrecta, .error_datos_create_product {display:none}
/*---3D Efecto over img-----*/
.parent1 { position:absolute;top:0px;width:200px;height: 0;z-index:100;overflow: hidden;
  -webkit-transition-property: height;-webkit-transition-duration: 1s;-webkit-perspective: 1000px;-webkit-transform-style: preserve-3d;-moz-transition-property:height;-moz-transition-duration: 1s;-moz-perspective: 1000px;-moz-transform-style: preserve-3d;-o-transition-property:height;-o-transition-duration: 1s;-o-perspective: 1000px;-o-transform-style: preserve-3d;transition-property: height;transition-duration: 1s;perspective: 1000px;transform-style: preserve-3d;}
.parent2 {/* el contenido total durante la animación va aquí */}
.parent3 {height: 45px;color: #fff;background: rgba(0, 0, 0, .5);
  -webkit-transition-property: all;-webkit-transition-duration: 1s;-webkit-transform: rotateX(-90deg);-webkit-transform-origin: top;-moz-transition-property: all;-moz-transition-duration: 1s;-moz-transform: rotateX(-90deg);-moz-transform-origin: top;-o-transition-property: all;-o-transition-duration: 1s;-o-transform: rotateX(-90deg);-o-transform-origin: top;transition-property: all;transition-duration: 1s;transform: rotateX(-90deg);transform-origin: top;}
#user_picture_img:hover .parent1 { height: 50px; }
#user_picture_img:hover .parent3 {pointer-events: auto;-webkit-transform: rotateX(0deg);-moz-transform: rotateX(0deg);-o-transform: rotateX(0deg);transform: rotateX(0deg);
  height: 111px;}