.big_container
	#productos_admin(align="center", class="font")
		<br />
		font(size="6", class="titulo") Productos
		if (typeof hola !== "undefined")
			font(size="6", class="titulo") asss
			font(size="6", class="titulo") #{hola}
