div(align="center")	
	font(size="4", class="font")	Bienvendio 
	font(size="3", class="font_w") #{sesion.user}
.user_menu_contenedor(align="center")	
	.datos
		a(href="#datos/#{sesion.id}")
			table(cellspacing="15")
				tr
					td
						img(src="images/datos.png")
					td(valign="middle")	
						font(size="3") Mis Datos
	.product
		a(href="#product")
			table(cellspacing="15")
				tr
					td
						img(src="images/product.png")
					td(valign="middle")	
						font(size="3") Productos
	.support
		a(href="#support")
			table(cellspacing="15")
				tr
					td
						img(src="images/support.png")
					td(valign="middle")	
						font(size="3") Soporte