.botonera_product
	if sesion.tipo == 'a'
		.button_wrapper
			.button_underneath.button_underneath_2
				a(href="#product/create", class="button", style="width: 117px") Editar Producto	
	if sesion.tipo == 'u'
		.button_wrapper
			.button_underneath.button_underneath_2
				a(href="#product/create", class="button", style="width: 117px") Añadir Carrito
.big_contenido
	#product(align="center", class="font")
		br
		font(size="6", class="titulo")	#{producto.titulo} &nbsp;
		input(name="busqueda", type="text", value="Que deseas buscar", class="campos2 busqueda")
	br  
	img(id="producto_img", src="images/products/#{producto.id}.big.jpg", class="border_corner_img")
	