.contenido
	table
		tr
			td
				#product
					div(data-id="jean1", class="ropa_float")
						table
							tr
								td
									img(src="index/impress_contenido/men/jean/images/jean.jpg")
							tr
								td
									a(href="#")
										span	Gasparin
							tr
								td	1.000,00 BsF
					div(data-id="jean2", class="ropa_float")
						table
							tr
								td	
									img(src="index/impress_contenido/men/jean/images/jean.jpg")
							tr
								td
									a(href="#")
										span	Jeans skinnig
							tr
								td	1.000,00 BsF         
					div(data-id="jean3", class="ropa_float")
						table
							tr
								td
									img(src="index/impress_contenido/men/jean/images/jean.jpg")
							tr
								td
									a(href="#")
										span	ferropenico
							tr	
								td	1.000,00 BsF
					div(data-id="jean4", class="ropa_float")
						table
							tr
								td
									img(src="index/impress_contenido/men/jean/images/jean.jpg")
							tr
								td
									a(href="#")
										span	Diesel
							tr
								td	1.000,00 BsF
					div(data-id="jean5", class="ropa_float")
						table
							tr
								td	
									img(src="index/impress_contenido/men/jean/images/jean.jpg")
							tr
								td
									a(href="#")
										span	pepelepu
							tr
								td	1.000,00 BsF       
					div(data-id="jean6", class="ropa_float")
						table
							tr
								td
									img(src="index/impress_contenido/men/jean/images/jean.jpg")
							tr
								td
									a(href="#")
										span	some one
							tr
								td	1.000,00 BsF
					div(data-id="jean7", class="ropa_float")
						table
							tr
								td	
									img(src="index/impress_contenido/men/jean/images/jean.jpg")
							tr
								td
									a(href="#")
										span	forever 21
							tr	
								td	1.000,00 BsF
			td(valign="top")
				.basket
					.basket_list
						.head
							span(class="name")	Nombre Producto
							span(class="count")	Cantidad
						ul